<h1>profil</h1>
<p><strong>name : </strong><%= @user.name %>
<p></p>
   <strong>email : </strong> <%= @user.email %></p>
   <p>Edit</p>

<img id="avatar-profil" src="<%= @user.avatar %>" alt="">

<h2><strong>Mes Contrats</strong></h2>

<style>.enlist { color:red }</style>

<h2><strong>Mes Monstres</strong></h2>
<p>Add</p>
<% if @user.monsters.first.nil? %>
  <p>No monsters</p>
<% else %>
  <% @user.monsters.each do |monster|%>
    <% @user.enlisted_monsters.each do |contract| %>
      <% if contract.monster_id == monster.id %>
        <% class_monster = "enlist monster" %>
      <% else %>
        <% class_monster = "monster" %>
      <% end %>
      <p class="<%= class_monster %>"><%= monster.name %></p>
    <% end %>
  <% end %>
<% end %>
