<h1>Mon profil</h1>
<p><strong>name : </strong><%= @user.name %>
<p></p>
   <strong>email : </strong> <%= @user.email %></p>
   <p>Edit</p>

<%= cl_image_tag @user.avatar.key  %>

<style>.enlist { color:red }</style>

<% if @user.contracts.where(actif: true).count > 0 %>
<div class="card-product"  >
  <h2><strong>Mes Contrats</strong></h2>
    <div class="border my-3 p-5">
      <ul>
        <% @user.contracts.each do |contract| %>
          <% if contract.actif == true %>
            <li><%= contract.monster.name %> - <%= link_to 'decline', decline_path(contract) %></li>
            <li>durée restante: <%= contract.battles %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
<% end %>

<h2><strong>Mes Monstres</strong></h2>

<% if @user.monsters.first.nil? %>
  <p>No monsters</p>
<% else %>
  <% @user.monsters.each do |monster|%>
    <% monster_status = monster.actif.to_s %>
    <% @user.enlisted_monsters.each do |contract| %>
      <% if contract.monster_id == monster.id && contract.actif == true %>
        <% monster_status = "contrat" %>
      <% end %>
    <% end %>
      <p><%= monster.name %></p>
      <% if  monster_status == "true" %>
        <p><%= link_to 'off',  monster_off_path(monster) %></p>
      <% elsif  monster_status == "false" %>
        <p><%= link_to 'on',  monster_on_path(monster) %></p>
      <% elsif  monster_status == "contrat" %>
        <p>Sous contrat</p>
      <% end %>
  <% end %>
<% end %>
