<h1>profil</h1>
<p><strong>name : </strong><%= @user.name %>
<p></p>
   <strong>email : </strong> <%= @user.email %></p>
   <p>Edit</p>

<img id="avatar-profil" src="<%= @user.avatar %>" alt="">

<style>.enlist { color:red }</style>

<div class="card-product">
  <h2><strong>Mes Contrats</strong></h2>
    <div class="border my-3 p-5">
      <ul>
        <% @user.contracts.each do |contract| %>
          <% if contract.actif == true %>
            <li><%= contract.monster.name %> - <%= link_to 'decline', decline_path(contract) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>

<h2><strong>Mes Monstres</strong></h2>
<p>Add</p>

<% if @user.monsters.first.nil? %>
  <p>No monsters</p>
<% else %>
  <% @user.monsters.each do |monster|%>
    <% @user.enlisted_monsters.each do |contract| %>
      <% if contract.monster_id == monster.id && contract.actif == true %>
        <% class_monster = "enlist monster" %>
      <% else %>
        <% class_monster = "monster" %>
      <% end %>
      <p class="<%= class_monster %>"><%= monster.name %></p>
    <% end %>
  <% end %>
<% end %>
