<h1>Mon profil</h1>
<p>Edit</p>
<img id="avatar-profil" src="<%= @user.avatar %>" alt="photo de profil">
<p><strong>name : </strong><%= @user.name %>
<strong>email : </strong> <%= @user.email %></p>

<h2><strong>Mes Contrats</strong></h2>
<% if @user.contracts.first.nil? %>
  <p>No contrats</p>
<% else %>
  <% @user.contracts.each do |contract|%>
    <p><%= contracts.monster.name %></p>
  <% end %>
<% end %>

<h2><strong>Mes Monstres</strong></h2>
<p>Add</p>
<% if @user.monsters.first.nil? %>
  <p>No monsters</p>
<% else %>
  <% @user.monsters.each do |monster|%>
    <% if monster.include?(@user.enlisted_monsters) %>
      <% class_monster = "monstre enlisted" %>
    <% else %>
      <% class_monster = "monstre" %>
    <% end %>
    <p class="<%= class_monster %>"><%= monster.name %></p>
  <% end %>
<% end %>
