<h1><p><strong>profil de: </strong><%= @user.name %></h1>


<%= cl_image_tag @user.avatar.key, :transformation=>[
  {:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},
  {:radius=>"max"},
  {:color=>"green", :effect=>"outline"},
  {:color=>"grey", :effect=>"shadow", :x=>30, :y=>55}
  ] %>


<style>.enlist { color:red }</style>

<% if @user.contracts.where(actif: true).count > 0 %>
<div class="card-product"  >
  <h2><strong>Mes Contrats</strong></h2>
    <div class="border my-3 p-5">
      <ul>
        <% @user.contracts.each do |contract| %>
          <% if contract.actif == true %>
            <li><%= contract.monster.name %> - <%= link_to 'decline', decline_path(contract) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
<% end %>

<h2><strong>Mes Monstres</strong></h2>

<% if @user.monsters.first.nil? %>
  <p>No monsters</p>
<% else %>
  <% @user.monsters.each do |monster|%>
    <% class_monster = "monster" %>
    <% @user.enlisted_monsters.each do |contract| %>
      <% if contract.monster_id == monster.id && contract.actif == true %>
        <% class_monster = "enlist monster" %>
      <% end %>
    <% end %>
      <p class="<%= class_monster %>"><%= monster.name %></p>
  <% end %>
<% end %>
